.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
}
.about{

}
.aboutimage{
padding:15px;
padding-left: 50px;
padding-right: 30px;
}
.about1{
  display: flex;
}
 p {
  margin: 30px;
}